<h1>CADASTRAR CIDADE</h1>
<%= form_tag :action => 'create' do %>

	<p><label for="cpf">ESTADO</label>:
	<%= select :cidade, :estados_id, @estados %></p>

	<p><label for="cpf">NOME</label>:
	<%= text_field :cidade, :nome %></p>

	<%= submit_tag "CADASTRAR" %>

<% end %>
