<h1>EDITAR ESTADO</h1>
<%= form_tag({:action => 'update', :id => params[:id]}) do %>

	<p><label for="cpf">NOME</label>:
	<%= text_field :estado, :nome, :value => @estado.first[1] %></p>

	<p><label for="cpf">SIGLA</label>:
	<%= text_field :estado, :sigla, :value => @estado.first[2] %></p>

	<%= submit_tag "EDITAR" %>

<% end %>
